@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html {overflow-y: scroll;}
body {overflow: hidden;font-family: 'Noto Sans KR', sans-serif;letter-spacing: -1px;}
a {text-decoration: none;}
.container_wrap, footer {background: white;}

/* header */
h1 {text-indent: -9999px;}
header {box-sizing: border-box;position: relative;width: 100%; height: 110px; background: url(../images/common/header_bg.png);
        border-bottom: .5px solid rgba(131, 131, 131, 0.82);box-shadow: 0px -2px 25px 1px rgba(96, 96, 96, 0.86);}
.logo {width: 110px; height: 110px; margin: auto; background: url(../images/common/ci.png) no-repeat center;}
.logo > a {width: 110px; height: 110px; display: block;}
/* gnb */
.gnb_btn {width:50px;height:45px;position:absolute;left:30px;top:32px;}
.black {position: fixed; width: 100%; height: 100%; background: #000; opacity: 0.7; z-index: 9; display: none;}
.gnb {width:280px;height: 100%;position:absolute;top:0;left:-360px;z-index: 10;background: #EBEBEB;} /* left: -360px */
.gnb_header {width:100%;height: 90px;background: url(../images/common/header_bg.png);position: relative;}
.gnb_header p {display: block;width:90px;height: 90px;margin:auto;padding-top: 10px;box-sizing:border-box;}
.gnb_header p img {display:block;margin:auto;}
.gnb_header span {display:block;width:80px;height: 90px;position: absolute;right:-80px;top:0;background: url(../images/common/header_bg.png);}
.gnb_header span img {width:50px;display:block;margin:auto;padding-top: 20px;}
.depth1 {background: url(../images/common/gnb_bg.jpg) no-repeat center top; text-align: center; height: 70%;}
.depth1 li {margin: 10px 0;}
.depth1 li:first-child {margin-top:0px;}
.depth1 > li > span {display:block; width:100%; height: 60px;background: #906a46;font-size: 20px;line-height: 3em;color:white;}
.depth2 {display:none; background: #EBEBEB;padding-top: 24px;}
.depth2 li a {display:block; width:100%; height: 20px;}
.active {display: block;}


/* visual */
.visual_wrap {width:100%;}
.visual {background-position: center; background-repeat: no-repeat; background-size: cover;}
.sub_visual > img {width:100%;}

/* container */
.container {padding: 30px 10px;}

/* cont_title */
.cont_title {text-align: center;}
.cont_title h2 {font-size: 28px;display: block;margin-bottom: 25px;font-weight: 500;}

/* content */
.content {padding: 35px 0;}
.content img {width:100%;}
.wrap_controllers {display:none;}

/* footer */
footer .footer_top {height: 55px;box-sizing: border-box;	border-top:1px  solid #dcdcdc;border-bottom:1px  solid #dcdcdc;}
.footer_nav {background: #f4f4f4;}
.footer_top .footer_nav a {box-sizing:border-box;border-right:1px  solid #dcdcdc;display:block;width:20%;float: left;text-align: center;height: 55px;line-height: 3.5em;font-weight: 100;font-size: 15px;}
.footer_top .footer_nav a:last-child {border-right: 0px;}
.footer_bottom {background: #7b7b7b;color:#f4f4f4;padding:15px 5px;text-align: center;}
.footer_bottom p {font-size:14px;line-height: 25px;text-align: center;}
.footer_bottom p.fb_title {font-size: 16px;font-weight: 400;}
