.mapnav {
  width: 100%;
  background: #022d47;
}

.mapnav li {
  width: 20%;
  height: 40px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  line-height: 2.5em;
}

.hoverOn {
  background: #ae886e;
}

.mapnav li a {
  color: white;
}


/* 문의 폼 */
.ebox {padding:20px 0;border-bottom:1px solid #ccc;}
.ebox.first {padding-top:60px;}

.bull_list{padding: 30px 0;text-align:left;vertical-align:middle;padding-left:17px !important;text-align:left;background:url('/m/images/sub/table_subtitle.png') 5px center no-repeat;}

.tb_estimate {width:100%;font-size:1.1em;}
.tb_estimate th, .tb_estimate td {padding:10px 3px;}
.tb_estimate th {text-align:left;vertical-align:top;font-weight:500;}
.tb_estimate .ast {margin-right:3px;font-size:1.4em;font-weight:500;color:#f0563e;}

.term_box {border: 1px solid #d9d9d9;overflow-y: scroll; height: 150px; padding: 10px;}

.btn_addr {display:inline-block;zoom:1;*display:inline;margin-left:10px;padding:3px 10px;font-size:0.9em;color:#fff;background-color:#f0563e;}
.btn_addr:link,.btn_addr:visited{color:#fff;}

.btn_wrap {width:100%;margin-top:30px;text-align:center;}
.btn_wrap a{margin-right:14px;}
.btn_wrap a img {width:48%;}

.radio_wrap{display: block; margin-bottom: 10px;}
input,select,button{vertical-align:middle;}
table{border-spacing:0;border-collapse:collapse;}

[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea {box-sizing:border-box;width:100%;height:auto;padding:4px 4px;background-color:#fefefe;font-size:0.9em;border:1px solid #cacaca;box-shadow:inset 0 1px 2px rgba(10, 10, 10, 0.1);-webkit-appearance:none;-moz-appearance:none;
	transition:box-shadow 0.5s, border-color 0.25s ease-in-out;}
select{box-sizing:border-box;width:100%;height:auto;padding:4px 4px;background-color:#fefefe;font-size:0.9em;border:1px solid #cacaca;box-shadow:inset 0 1px 2px rgba(10, 10, 10, 0.1);}
[type="text"]:focus, [type="password"]:focus, [type="date"]:focus, [type="datetime"]:focus, [type="datetime-local"]:focus, [type="month"]:focus, [type="week"]:focus, [type="email"]:focus, [type="number"]:focus, [type="search"]:focus, [type="tel"]:focus, [type="time"]:focus, [type="url"]:focus, [type="color"]:focus, textarea:focus {border:1px solid #2ba6cb;background-color:#fefefe;outline:none;box-shadow:0 0 5px #cacaca;
	transition: box-shadow 0.5s, border-color 0.25s ease-in-out;}
[type="file"], [type="checkbox"], [type="radio"] {padding:0;margin:0;vertical-align:middle;}
[type="checkbox"] + label, [type="radio"] + label {display:inline-block;vertical-align:middle;margin:0 10px 0 3px;}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {height:auto;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color:#aaa !important;font-weight:300 !important;}
input:-moz-placeholder, textarea:-moz-placeholder {color:#aaa !important;font-weight:300 !important;}
input::-moz-placeholder, textarea::-moz-placeholder {color:#aaa !important;font-weight:300 !important;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {color:#aaa !important;font-weight:300 !important;}
input:placeholder-shown, textarea:placeholder-shown {color:#aaa !important;font-weight:300 !important;}

tbody {margin-top: 20px;display: block;}
